*                                                       @TheDivic @aleksaToljic @TheMenko @brdji @AbominableSnowman730

/frontend/                                              @aleksaToljic

/.github/                                               @aleksaToljic 

/test-crawler/                                          @TheMenko

/scrapper/                                              @TheMenko @TheDivic @AbominableSnowman730

/frontend/apps/web/scripts/data/                        @TheMenko @brdji @TheDivic

/frontend/apps/web/src/tests.json                       @TheMenko @brdji @TheDivic






