*                                                       @TheDivic @aleksaToljic

/frontend/apps/web/scripts/data/                        @TheMenko @brdji

/frontend/apps/web/src/tests.json                       @TheMenko @brdji

/test-crawler/                                          @TheMenko

/.github/                                               @aleksaToljic