@font-face {
  font-family: 'Nunito Sans Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Nunito Sans Regular'),
    url('NunitoSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Nunito Sans Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Nunito Sans Bold'), url('NunitoSans-Bold.woff') format('woff');
}
